body {
/*    background-image : url("educolor-example.jpg");*/
    margin: 0;
    background-color: #F49001;
    background-image: url(assets/pattern-01.jpg);
/*    padding: :0;*/
/*    background-color: aquamarine;*/
}

/*
#title {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    color: #FFFFFF;
*/
/*
    margin-top: 20;
    margin-bottom: 20
*/
/*
div > canvas{
    background-color: purple;
}
*/
/*
canvas{
        width: 410;
        height: 732;
}
*/

/*
canvas{
         width: 1000;
    height: 1800;

}
*/



/*ORIGINAL phones query*/
/*
@media only screen and (max-width: 980px) {
canvas{
    width: 1000px;
    height: 1800px;
    }
}
*/

/*small phones*/
@media only screen and (max-width: 980px) {
canvas{
/*
    width: 1000px;
    height: 1800px;
*/
    
    width: 900px;
    height: 1600px;
    margin-left:4%;
    }
}

/*
@media only screen and (max-width: 980px) {
canvas{
    width: 1000px;
    height: 1800px;
    
    width: 900px;
    height: 1620px;
    margin-left:5%;
    }
}
*/

/*small phones*/
/*
@media only screen and (min-height: 900px)  {
canvas{
    width: 1000px;
    height: 1800px;
    margin-top: 10%;
    }
}
*/

/*medium tablets*/
/*
@media only screen and (min-width: px)  {
canvas{
    width: 750px;
    height: 1350px;
    margin-left:13%;
    width:1px;
    }
}
*/


/*big tablets (ipad pro) */

@media only screen and (min-width: 1000px)  {
canvas{
    width: 750px;
    height: 1350px;
    margin-left:13%;
    }
}


/*desktops*/
@media only screen and (min-width: 1100px)  {
canvas{
    width: 400px;
    height: 720px;
    margin-left:35%;
    }
}






















/*
@media only screen and (max-width: 200px) {
canvas{
    width: 1000px;
    height: 1350;
    }
}
*/








/*
@media only screen and (max-width: 1000px) {
canvas{
    width: 1000;
    height: 1330;
    }
}
*/

/*
@media only screen and (max-width: 390px) {
canvas{
    width: 50;
    height: 1800;
    }
}
*/
