body {
/*    background-image : url("educolor-example.jpg");*/
    margin: 0;
    background-color: #ff8000;
/*    padding: :0;*/
/*    background-color: aquamarine;*/
}

/*
#title {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    color: #FFFFFF;
*/
/*
    margin-top: 20;
    margin-bottom: 20
*/
div > canvas{
    background-color: purple;
}
/*
canvas{
        width: 410;
        height: 732;
}
*/

/*
canvas{
         width: 1000;
    height: 1800;

}
*/



/*this is the one!!!!!!!*/
@media only screen and (max-width: 980px) {
canvas{
    width: 1000px;
    height: 1800px;
    }
}








/*
@media only screen and (max-width: 1000px) {
canvas{
    width: 1000;
    height: 1330;
    }
}
*/

/*
@media only screen and (max-width: 390px) {
canvas{
    width: 50;
    height: 1800;
    }
}
*/
